@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");
:root {
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: black;
}

a {
  color: #31198E;
  text-decoration: none;
}

a:hover {
  color: #020021;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 80px;
  box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 32px;
  color: #151515;
  line-height: 0;
}

.back-to-top:hover {
  background: #5244FC;
}

.back-to-top:hover i {
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}


/*laptop animation*/

.solut-anim-ins img {
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity:0;
}

@media (max-width: 576px) {
  .solut-anim-ins img {
    width: 120%;
	left:-13%;
    top:0;
	top:-70px;
  }
}

@media (min-width: 576px) {
  .solut-anim-ins img {
    width: 80%;
	left:30px;
	top:-80px;
  }
}
@media (min-width: 768px) {
	.solut-anim-ins img {
    width: 80%;
	left: 30px;
    top:-30px;
	}}

@media (min-width: 992px) {
  .solut-anim-ins img {
	left:35%;
    top:0;
  }
}
@media (min-width: 1200px) {
  .solut-anim-ins img {
	left:32%;
    top:-60px;
  }
}

.animate img.anim-laptop{ 
  animation: anim-show-top 1s forwards;
  animation-delay: 0.8s;
}

.animate img.anim-laptop-screen1 {
  animation: anim-show 1s forwards;
  animation-delay: 2s;
}

.animate img.anim-tablet {
  animation: anim-show-left 1s forwards;
  animation-delay: 3s;
}

.animate img.anim-graphs {
  animation: anim-show-top 1s forwards;
  animation-delay: 3s;
}

.animate img.anim-money-box3 {
  animation: anim-show-left 1s forwards;
  animation-delay: 3s;
}

.animate img.anim-money-box1 {
  animation: anim-show-left 1s forwards;
  animation-delay: 3s;
}

.animate img.anim-money-box2 {
  animation: anim-money-show 3s forwards infinite;
  animation-delay: 4s;
}

.animate img.anim-money-box2-2 {
  animation: anim-money-show 3s forwards infinite;
  animation-delay: 5s;
}

@keyframes anim-show-top {
 0%   { 
   -moz-transform: translateY(-100px); 
   -webkit-transform: translateY(-100px); 
   transform: translateY(-100px);
   opacity:0;
 }
 100% { 
   -moz-transform: translateY(0px); 
   -webkit-transform: translateY(0px);
   transform: translateY(0px);
   opacity:1;
 }
}

@keyframes anim-show-left {
 0%   { 
   -moz-transform: translateX(-100px); 
   -webkit-transform: translateX(-100px); 
   transform: translateX(-100px);
   opacity:0;
 }
 100% { 
   -moz-transform: translateX(0px); 
   -webkit-transform: translateX(0px);
   transform: translateX(0px);
   opacity:1;
 }
}

@keyframes anim-show {
 0%   { 
   opacity:0;
 }
 100% { 
   opacity:1; 
 }
}

@keyframes anim-money-show {
 0%   { 
   transform: translate(-100px,-50px);
   opacity:0;
 }
  50% {
    opacity:1;
  }
 100% { 
   transform: translate(100px, 50px);
   opacity:0;
 }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header.header-scrolled, #header.header-inner-pages {
  background: rgba(255, 255, 255, 0.8);
}

#header .logo {
  margin: 0;
  padding: 0;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
#  Get Startet Button
--------------------------------------------------------------*/
.get-started-btn {
  color: black;
  border-radius: 4px;
  padding: 7px 25px 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  border: 2px solid blue;
}

.get-started-btn:hover {
  background: #5244FC;
  color: white;
}

@media (max-width: 992px) {
  .get-started-btn {
    padding: 7px 20px 8px 20px;
    margin-right: 15px;
  }
}

@media (max-width: 576px) {
  .get-started-btn {
    padding: 3px 12px 4px 12px;
	font-size: 12px;
  }
}

@media (max-width: 576px) {
  .logo img {
   height: 24px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
* {
  box-sizing: border-box;
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
  text-align:center;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px 10px 25px;
  font-size: 15px;
  font-weight: 600;
  color: black;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar li:hover > a {
  background-color: #B5B3FF;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #151515;
  font-weight: 400;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  background-color: #5244FC;
  color:white;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: black;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #151515;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: white;
  background-color: #5244FC;
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
  color: #151515;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  background-color: #5244FC;
  color:white;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-color: #f8f9fa;
  padding-top: 9.5rem;
  padding-bottom: 5rem;
}

#hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  color: black;
  font-family: "Poppins", sans-serif;
}

#hero h1 span {
  color: #5244FC;
}

#hero h2 {
  color: black;
  margin: 10px 0 0 0;
  font-size: 24px;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 1024px) {
  #hero {
    height: auto;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
	margin-top: 150px;
  }
  #hero h2 {
    font-size: 20px;
    line-height: 24px;
	margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  #hero {
    height: auto;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
	margin-top: 60px;
  }
  #hero h2 {
    font-size: 20px;
    line-height: 24px;
	margin-bottom: 60px;
  }
}

@media (max-width: 992px) {
  #hero h1 {
	padding-top: 120px;
  }
  #hero h2 {
	margin-bottom: -50px;
  }
}

.btn-primary {
  background: #6965FF;
  border: 0;
  color: white;
  padding: 15px 36px;
  transition: 0.4s;
  border-radius: 20px;
}

button[type="submit"]:hover {
  background: #ADAAFF;
  color: #000000;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

#services {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("../assets/img/xxx.jpg") fixed center center;
  background-size: cover;
  position: relative;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials {
  padding: 80px 0;
  background: linear-gradient(rgba(250, 250, 250, 0.4), rgba(250, 250, 250, 0.2)), url("../assets/img/yyy.jpg") fixed center center;
  background-size: cover;
  position: relative;
}

.testimonials::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.testimonials .section-header {
  margin-bottom: 40px;
}

.testimonials .testimonial-item {
  text-align: center;
  color: white;
}

.testimonials .testimonial-item .testimonial-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: white;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: white;
  margin: 0 0 15px 0;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: rgba(0, 0, 0, 0.6);
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
  color: #FFFFFF;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
  color: #FFFFFF;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
  color: white;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: .5;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #6726FF;
  opacity: 1;
}

@media (min-width: 1024px) {
  .testimonials {
    background-attachment: fixed;
  }
}

@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.page-section {
  padding: 6rem 0;
}
#page-section h2.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}
.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #D29CFF;
}
.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}
.timeline > li:after, .timeline > li:before {
  display: table;
  content: " ";
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #A5A3A3;
  border-radius: 100%;
  background-color: #B072FC;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  background: linear-gradient(rgba(250, 250, 250, 0.2), rgba(250, 250, 250, 0.4)), url("../assets/img/map.jpg") fixed center center;
  background-size: cover;
  position: relative;
}

.contact h2.section-heading {
  font-size: 2.5rem;
  color:white;
  margin-top: 50px;
  margin-bottom: 1rem;
}
.contact h3.section-subheading {
  font-size: 1rem;
  color: white !important;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 1rem;
}

.contact .php-email-form {
  width: 100%;
  margin-bottom: 2rem;
}

.contact .php-email-form .form-group {
  padding-bottom: 6px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  box-shadow: none;
  font-size: 14px;
  border-radius: 8px;
  border-color: darkgray
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: black;
}

.contact .php-email-form input {
  height: 48px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #B5B3FF;
  border: 0;
  padding: 15px 36px;
  color: black;
  transition: 0.4s;
  border-radius: 10px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #6F13F8;
  color: #fff;
}

button[type="submit"] {
  background: #B5B3FF;
  border: 0;
  padding: 15px 36px;
  color: black;
  transition: 0.4s;
  border-radius: 10px;
}

button[type="submit"]:hover {
  background: #6F13F8;
  color: #fff;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*contact2*/

.contact2 .info {
  width: 100%;
  background: #fff;
}

.contact2 .info i {
  font-size: 20px;
  background: #B5B3FF;
  color: #151515;
  float: left;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.contact2 .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #151515;
}

.contact2 .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #484848;
}

.contact2 .info .email, .contact .info .phone {
  margin-top: 40px;
}

.contact2 {
  background-color: white;
  background-size: cover;
  position: relative;
}

.contact2 .php-email-form {
  width: 100%;
  margin-bottom: 2rem;
}

.contact2 .php-email-form .form-group {
  padding-bottom: 6px;
}

.contact2 .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact2 .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact2 .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact2 .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact2 .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact2 .php-email-form input, .contact .php-email-form textarea {
  box-shadow: none;
  font-size: 14px;
  border-radius: 8px;
  border-color: darkgray
}

.contact2 .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: black;
}

.contact2 .php-email-form input {
  height: 48px;
}

.contact2 .php-email-form textarea {
  padding: 10px 12px;
}

.contact2 .php-email-form button[type="submit"] {
  background: #B5B3FF;
  border: 0;
  padding: 15px 36px;
  color: black;
  transition: 0.4s;
  border-radius: 10px;
}

.contact2 .php-email-form button[type="submit"]:hover {
  background: #6F13F8;
  color: #fff;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  padding-top: 20px;
}

.clients .swiper-slide img {
  opacity: 0.5;
  transition: 0.3s;
  filter: grayscale(100);
}

.clients .swiper-slide img:hover {
  filter: none;
  opacity: 1;
}

.clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  background-color: #ddd;
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #AF6DFF;
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  text-align: center;
  font-size: 0.9rem;
}

.btn-social {
  font-size: 18px;
  display: inline-block;
  background: #9955F5;
  color: #fff;
  border-color: #9955F5;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.btn-social:hover {
  background: #676767;
  border-color: #676767;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features {
  padding-top: 60px;
 margin-bottom: 2rem;
}

.features .icon-box {
  padding-left: 15px;
}

.features .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

.features .icon-box i {
  font-size: 48px;
  float: left;
  color: #9955F5;
}

.features .icon-box p {
  font-size: 15px;
  color: #848484;
  margin-left: 60px;
}

.features .image {
  margin-bottom: 5px;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #CBCAFF;
  min-height: 40px;
  margin-top: 74px;
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 400;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #2f2f2f;
  content: "/";
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 68px;
  }
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 30px 0;
  overflow: hidden;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #4C3DFF;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #151515;
}



.inner-page .php-email-form .form-group {
  padding-bottom: 6px;
}

.inner-page .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.inner-page .php-email-form .error-message br + br {
  margin-top: 25px;
}

.inner-page .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.inner-page .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.inner-page .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.inner-page .php-email-form input, .contact .php-email-form textarea {
  box-shadow: none;
  font-size: 14px;
  border-radius: 8px;
  border-color: darkgray
}

.inner-page .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: black;
}

.inner-page .php-email-form input {
  height: 48px;
}

.inner-page .php-email-form textarea {
  padding: 10px 12px;
}

.inner-page .php-email-form button[type="submit"] {
  background: #B5B3FF;
  border: 0;
  padding: 15px 36px;
  color: black;
  transition: 0.4s;
  border-radius: 10px;
}

.inner-page .php-email-form button[type="submit"]:hover {
  background: #6F13F8;
  color: #fff;
}

.custom-checkbox .checkbox
{
  position:absolute;
  opacity:0; 
}

.custom-checkbox-label
{
   position: relative;
   margin:5px;
   background:#E0CDFF;
   vertical-align: middle;
   width:30px;
   height:30px;
   border:1px solid #A78AFF;
   display:inline-block;
   cursor:pointer;
  border-radius: 5px;
}

.checkbox:checked + .custom-checkbox-label
{
  background:green;
  border:1px solid green !important;
  color:#000;
}
.checkbox:checked + .custom-checkbox-label:before 
{
    content:'✓';
	font-size: 21px;
    color:white;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}

select {
	background-color: #D4CAE7;
	border:1px solid #C3A4FF !important;
	border-radius: 5px;
}